
PokerDemoTable/PokerDemoTable.xcworkspace/xcuserdata/dmitry.fedorov.xcuserdatad/UserInterfaceState.xcuserstate

PokerDemoTable/PokerDemoTable.xcworkspace/xcuserdata/dmitry.fedorov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
